@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-gutter: stable both-edges;
}

/* / Width and height of the scrollbar track / */
::-webkit-scrollbar {
  width: 8px;
  height: 800px;
}

/* / Color of the scrollbar track / */
::-webkit-scrollbar-track {
  opacity: 1;
}

/* / Styles for the scrollbar handle / */
::-webkit-scrollbar-thumb {
  background-color: #c7b9b9;
  border-radius: 4px;
}

/* / On hover, increase the size of the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #bb8c8c;
}
